{% extends 'layout/base.html' %}
{% block title %}<title>Home</title>{% endblock title %}
{% block css %}
<style>
    td {
        padding: 30px;
    }
    a {
        text-decoration: none;
    }
    .table1 td{
        width: 50%;
    }
    .table2 td{
        width: 25%;
    }
</style>
{% endblock css %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h6 class="text-center mt-3">github連結 : <a href="https://github.com/howard1357997531/web_crawler-data_analyzing" target="_blank">https://github.com/howard1357997531/web_crawler-data_analyzing</a></h6>
            <h2 class="text-center mt-5 mb-4">爬蟲</h2>
            <hr>
            <table class="table table1 text-center">
                <tr>
                    <td class="p-3"><a href="{% url 'apple_news' %}">查找蘋果新聞</a></td>
                    <td class="p-3"><a href="{% url 'ibon' %}">查找ibon</a></td>
                </tr>
                <tr>
                    <td class="p-3"><a href="{% url 'yahoo_movie' %}">查找yahoo電影戲院</a></td>
                    <td class="p-3"><a href="{% url 'taiwan_railway' %}">查找台灣鐵路</a</td>
                </tr>
            </table>

            <h2 class="text-center mt-5 mb-4">資料分析</h2>
            <hr>
            <table class="table table1 text-center">
                <tr>
                    <td><a href="{% url 'covid' %}" class="text-danger">台灣疫情報告</a></td>
                    <td><a href="{% url 'student_grade' %}" class="text-danger">學生成績系統</a></td>
                </tr>
            </table>

            <h2 class="text-center mt-5 mb-4">小遊戲</h2>
            <hr>
            <table class="table table1 text-center">
                <tr>
                    <td><a href="{% url 'phone' %}" class="text-danger">手機號碼占圤</a></td>
                    <td><a href="{% url 'lotto' %}" class="text-danger">樂透</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}