{% extends 'layout/base.html' %}
{% block title %}<title>Student_grade</title>{% endblock title %}
{% block css %}
<style>
    .std_name input,select {
        margin-left: 5px;
        margin-bottom: 10px;
        width: 75%;
        text-align: center;
    }
    .std_name select {
        padding: 5px;
    }
    h2 {color: darkslateblue;}
    h2 span {color: blueviolet;}
</style>
{% endblock css %}

{% block content %}
<h2 class="text-center mt-3">學生成績系統</h2>
<div class="container">
    <div class="row std_data datacon">
        <div class="col-md-3 pt-2 ps-4 border border-secondary std_name" style="height: 540px;">
            <h5 class="text-center py-1">新增資料</h5>
            <form action="." method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-success btn-sm float-end" style="margin-top:-5px" type="submit">送出</button>
            </form>
        </div>
        <div class="col-md-9">
            <a href="{% url 'student_grade' %}" class="btn btn-info btn-sm me-2">資料庫</a>
            <button class="btn btn-info btn-sm std_rank">排名</button>
            <p class="float-end d-inline-block">總人數 : {{std_count}} 人 
                <span class="text-primary mx-3">男生 : {{boy_count}} 位</span>
                <span class="text-danger">女生 : {{girl_count}} 位</span>
            </p>
            <div class="overflow-auto w-100" id="std_table" style="height: 500px;">
                <table class="table table-hover text-center">
                    <tr class="table-active">
                        <th style="width: 10%;">姓名</th>
                        <th style="width: 15%;">學號</th>
                        <th>性別</th>
                        <th>國文</th>
                        <th>英文</th>
                        <th>數學</th>
                        <th>社會</th>
                        <th>自然</th>
                        <th class="text-primary">總分</th>
                        <th class="text-danger">平均</th>
                        <th style="width: 7%";></th>
                        <th style="width: 7%"></th>
                    </tr>
                    {% for std in std_datas %}
                    <tr>
                        <td>{{std.name}}</td>
                        <td>{{std.code}}</td>
                        <td>{{std.sex}}</td>
                        <td class="{% if std.chinese < 60 %}text-danger fw-bold{% endif %}">{{std.chinese}}</td>
                        <td class="{% if std.english < 60 %}text-danger fw-bold{% endif %}">{{std.english}}</td>
                        <td class="{% if std.math < 60 %}text-danger fw-bold{% endif %}">{{std.math}}</td>
                        <td class="{% if std.society < 60 %}text-danger fw-bold{% endif %}">{{std.society}}</td>
                        <td class="{% if std.science < 60 %}text-danger fw-bold{% endif %}">{{std.science}}</td>
                        <td class="text-primary">{{std.total_score}}</td>
                        <td class="text-danger">{{std.average_score}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning editbtn" data-id='{{std.id}}' data-bs-toggle="modal" data-bs-target="#staticBackdrop{{forloop.counter}}">
                                修改
                            </button>
                            <div class="modal fade" id="staticBackdrop{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form method="POST" action="{% url 'save_grade' std.id %}" class="std_edit">
                                            {% csrf_token %}  <!-- csrf 寫在modal裡會抓不到(不知為何) -->
                                            <div class="form-content">                                     
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <form method="POST" action="{% url 'delete_grade' std.id %}" class="std_delete" data-name="{{std.name}}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger" data-id='{{std.id}}'>刪除</button>
                            </form>                        
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>  
    
    <div class="text-end mb-3">
        <h6 class="text-secondary mt-4 me-3 d-inline-block">學生成績分析:</h6>
        <input type="text" id="std_name" placeholder="請輸入學生姓名:"> 
        <button class="btn btn-secondary btn-sm ms-3 std_btn" >送出</button>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto std_chart" style="display:inline-block;"></div>
    </div>
    <div class="row mb-5">
        <div class="col-md-10 mx-auto" style="display:inline-block;">
            <canvas id="myChart3" class="mb-3"></canvas>  
            <canvas id="myChart4"></canvas>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

<script type="">
    Chart.register(ChartjsPluginStacked100.default);
    const ctx3 = document.getElementById('myChart3').getContext('2d');
  const myChart3 = new Chart(ctx3, {
    type: 'bar',
    data: {
        labels: ['國文', '英文', '數學', '社會', '自然'],
        datasets: [
        {label: ['及格','及格','及格','及格','及格'], data: {{score_pass|safe}}, backgroundColor: 'rgba(153, 102, 255, 0.5)', borderWidth: 1},
        {label: ['不及格','不及格','不及格','不及格','不及格'], data: {{score_fail|safe}}, backgroundColor: 'rgba(255, 26, 104, 0.5)',borderWidth: 1},
        ]
    },
    options: {
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true,
          ticks: {
              // Include a dollar sign in the ticks
              callback: function(value, index, ticks) {
                  return '';  //可以自訂刻度值 //'$' + value
              }
          }
        }
      },
      plugins: {
        stacked100: {
          enable: true,
          replaceTooltipLabel: false,
        },
        datalabels: {
          formatter: (_value, context) => {
          const data = context.chart.data;             //datasetIndex: dataset 的 index 從0開始 loop
          const { datasetIndex, dataIndex } = context; //dataIndex: data 的 index 從0開始 loop
          console.log(context.chart.data)
          return `${data.datasets[datasetIndex]['label'][dataIndex]}  ${data.calculatedData[datasetIndex][dataIndex]}% `;
          },
        },
        title: {
            display: true,
            text: '全班各科及格率',
            color: 'rgba(145, 84, 9, 0.629)',
            font: {
              size: 30,
            },
          },
        legend: {
          display: false
        },  
        }
      },
    plugins: [ChartDataLabels]
});

    //chart2
    const ctx4 = document.getElementById('myChart4').getContext('2d');
    const myChart4 = new Chart(ctx4, {
      type: 'bar',
      data: {
          labels: ['國文', '英文', '數學', '社會', '自然'],
          datasets: [{
              label: '男生',
              data: {{boyavg|safe}},
              backgroundColor: 'rgba(153, 102, 255, 0.5)',              
              borderWidth: 1
          },{
              label: '女生',
              data: {{girlavg|safe}},
              backgroundColor: 'rgba(255, 26, 104, 0.5)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          },
          plugins: {
            datalabels:{
                formatter: (value, context) => {
                    return `${value} 分`
                  }
              },
            title: {
                display: true,
                text: '男女各科平均比較',
                color: 'rgba(145, 84, 9, 0.629)',
                font: {
                size: 30,
            },
          },
          }
      },
      plugins : [ChartDataLabels]
  });
    </script>
{% endblock scripts %}